h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    text-transform: capitalize;
    font-style: italic;
    letter-spacing: .5em;
    text-decoration: line-through;
    letter-spacing: .5em;
    vertical-align: baseline;
    word-spacing: 1.5em;


}
p{
    line-height: 1.5em;
    text-align: justify;
    word-spacing: .5em;
    text-indent: 50px;
    text-shadow: 2px 3px 6px rgb(71, 42, 165);
    border: 1px solid;
    max-width: 1000px;
    overflow: scroll;
    border-width: 5px 3px  3px 1px;
    padding: 20px;
    margin: 20px;
    border: 30px solid;
    border-image: url("\Saved Pictures\goku-4k-2020-2n.jpg")30 stretch;

}
li{
    display: inline-block;
    margin: 10px;
    -moz-border-radius:10px;
}

p::first-letter{
    font-size: 2em;
    color: yellow;
    background-color: red;
}
a:visited{
    color:brown;
}
a:link{
    color:yellowgreen;
}
a:hover{
    color: blue;
}
p:hover{
    color: blueviolet;
}
a:active{
    color:red;
}
a:focus{
    color: green;
}